<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  <appSettings>
      <add key="teamNames" value="" />
      <add key="ali_api_user_email" value="http://10.13.23.2:1234/Taobao.Facades.IUserService/GetUserByEmail?source=CooperWeb&amp;authkey=196F36349C6520E69CEAB9F0B9A23B43&amp;email={0}" />
      <!--正式环境用这个值-->
      <!--<add key="ali_api_user_email" value="http://open.wf.taobao.org/Taobao.Facades.IUserService/GetUserByEmail?source=CooperWeb&amp;authkey=196F36349C6520E69CEAB9F0B9A23B43&amp;email={0}" />-->
  </appSettings>
  <castle>
    <include uri="file://application_config/properties.config"/>
    <include uri="file://application_config/facilities.config"/>
  </castle>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
