<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  <appSettings>
      <add key="isImportSpecifiedEmailLists" value="true" />
      <!--可以指定多个EmailList，EmailListName指邮件组的显示名，用分号或逗号隔开以指定多个要导入的邮件组-->
      <add key="emailListNames" value="集团信息服务平台研发组" />
      <add key="minTeamMemberCount" value="1" />
      <add key="maxTeamMemberCount" value="20" />
  </appSettings>
  <castle>
    <include uri="file://application_config/properties.config"/>
    <include uri="file://application_config/facilities.config"/>
  </castle>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
