@*<button type="button" class="btn btn-danger" onclick="window.open('http://v.t.sina.com.cn/share/share.php?title='+$('#share_title').val())">分享到新浪微博</button>*@
<button type="button" class="btn btn-primary" onclick="window.open('http://t.taobao.org/api/shareForm?f_aita=&f_topic=Cooper&f_sys_name=AiTa%E5%88%86%E4%BA%AB&f_sys_url=&f_page_name=&f_page_url=&f_css=base&f_show_page_url=0&f_token=&f_user_id=&f_user_type=0&f_time=0&t=&f_content='+$('#share_title').val())">分享到Aita</button>
