<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--cooper azure-->
    <cooperConnectionString>RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AdABjAHAAOgByAGcAZABzAGIAdwBsAHkAdgB4AC4AZABhAHQAYQBiAGEAcwBlAC4AdwBpAG4AZABvAHcAcwAuAG4AZQB0ACwAMQA0ADMAMwA7AEkAbgBpAHQAaQBhAGwAIABDAGEAdABhAGwAbwBnAD0AYwBvAG8AcABlAHIAQQBzAEMAegB2AFEAdgBmAEUAdwA7AFUAcwBlAHIAIABJAEQAPQBjAG8AZABlAHMAaABhAHIAcABAAHIAZwBkAHMAYgB3AGwAeQB2AHgAOwBQAGEAcwBzAHcAbwByAGQAPQBDAE8ATwBQAEUAUgBjAG8AbwBwAGUAcgA1ADMAMgAzADIAMQAwADsA</cooperConnectionString>
    <!--cooper ali-->
    <cooperConnectionString>RABhAHQAYQAgAFMAbwB1AHIAYwBlACAAPQAgAHcAZgAtAGQAYgA1ADsAIABGAGEAaQBsAG8AdgBlAHIAIABQAGEAcgB0AG4AZQByACAAPQAgAHcAZgAtAGQAYgA2ADsAIABJAG4AaQB0AGkAYQBsACAAQwBhAHQAYQBsAG8AZwAgAD0AIABUAGEAbwBiAGEAbwBFAG4AdAA7ACAAVQBzAGUAcgAgAEkAZAAgAD0AIABXAEYAUAByAG8AYwBjAGUAcwBzADsAIABQAGEAcwBzAHcAbwByAGQAIAA9ACAAMgB3AHMAeAB6AGEAcQAhADsAIABBAHAAcABsAGkAYwBhAHQAaQBvAG4AIABOAGEAbQBlACAAPQAgAFQAYQBvAGIAYQBvAEUAbgB0AC0AQQBwAHAAOwA=</cooperConnectionString>
  </properties>
</configuration>